@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

body > div {
  margin: 15px 0;
  padding: 0 50px 50px 50px;
  width: 1000px;
  min-height: 95vh;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

a {
  text-decoration: none;
}

.navbar {
  font-size: 1.3em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #000;
  margin-bottom: 50px;
}

.navbar-link {
  color: #000;
  padding: 10px;
}

.navbar-link:hover {
  background-color: #ffeb84;
}

.hero {
  color: #af732d;
  font-size: 2em;
  font-family: 'Playfair Display SC', serif;
}

.main {
  font-size: 18px;
  line-height: 1.7em;
}

.page-title {
  padding: 0 0 30px 0;
  font-size: 2em;
}

.thumb-wrapper {
  width: calc(50%);
  display: flex;
  justify-content: center;
  margin: 35px 0;
  position: relative;
}

.thumb {
  display: block;
  width: 400px;
  height: 400px;
}

.archive-main {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
}

.thumb-title {
  width: 400px;
  height: 400px;
  font-size: 2em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.2em;
  color: #ffeb84;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s ease;
}

.thumb-title:hover {
  opacity: 1;
}

.pub {
  display: flex;
  border: 1px solid black;
  padding: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.pub > img {
  margin-right: 30px;
  max-height: 400px;
  max-width: 400px;
  height: auto;
  width: auto;
}

.pub-title {
  font-size: 2em;
  margin: 10px 0;
  line-height: 1em;
}

.pub-subtitle {
  font-size: 1.3em;
}
